@charset "UTF-8";
nav.template-main-menu,
h1, h2, h3, h4, h5, h6,
body {
  font-family: "游ゴシック体", YuGothic;
}

.bg--dark,
.footer-wrap-layout2,
.widget-newsletter-subscribe-dark,
.mean-container .mean-bar .mobile-menu-nav-back {
  background-color: #5389d6;
}

.header-menu .logo-area a h1 {
  margin: 0;
}

.blog-box-layout2 .item-img a img {
  width: 100%;
}

.widget-popular .post-box .item-img a img {
  width: 100%;
}

.single-blog-box-layout3 .single-blog-content .blog-form .contact-form-box .form-group .item-btn {
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  border: 1px solid #d73f91;
  background-color: #d73f91;
  color: #ffff;
}
.single-blog-box-layout3 .single-blog-content .blog-form .contact-form-box .form-group .item-btn:hover {
  color: #d73f91;
  background-color: transparent;
  border: 1px solid #d73f91;
}

.mean-container a.meanmenu-reveal span {
  background-color: #ffff;
}

.inner-page-banner {
  display: block;
  padding: 6rem 0;
  background-color: #f3f3f3;
}
.inner-page-banner .breadcrumbs-area h1 {
  font-size: 20px;
  margin-bottom: 0px;
}
@media (min-width: 992px) {
  .inner-page-banner .breadcrumbs-area h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
}

.footer-box-layout2 .copyright {
  color: #ffff;
}

.single-blog-box-layout3 .single-blog-content .blog-form .contact-form .form-group .item-btn {
  border: 1px solid #111111;
  background-color: #111111;
  color: #ffff;
}
.single-blog-box-layout3 .single-blog-content .blog-form .contact-form .form-group .item-btn:focus {
  outline: none;
}
.single-blog-box-layout3 .single-blog-content .blog-form .contact-form .form-group .item-btn:hover {
  color: #111111;
  background-color: transparent;
  border: 1px solid #111111;
}

.contact-form .invalid-message {
  color: #d64c5c;
  font-size: 14px;
}

.thanks-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.thanks-box__logo {
  margin-bottom: 30px;
}
.thanks-box__description, .thanks-box__headline {
  text-align: center;
}
.thanks-box .item-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #111111;
  border-radius: 4px;
  padding: 14px 35px;
  transition: all 0.3s ease-out;
}
.thanks-box .item-btn:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

.widget-popular .post-box .item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.single-blog-box-layout3 .blog-banner img {
  width: 100%;
}

.single-blog-box-layout3 .single-blog-content .blog-entry-content .item-title {
  display: block;
}
.single-blog-box-layout3 .single-blog-content .blog-entry-content .tags-area li {
  margin-right: 15px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}
@media (min-width: 992px) {
  .single-blog-box-layout3 .single-blog-content .blog-entry-content .tags-area li {
    margin-right: 20px;
  }
}
.single-blog-box-layout3 .single-blog-content .blog-entry-content .tags-area li a {
  font-size: 14px;
  color: #646464;
  display: block;
}
@media (min-width: 992px) {
  .single-blog-box-layout3 .single-blog-content .blog-entry-content .tags-area li a {
    font-size: 16px;
  }
}
.single-blog-box-layout3 .single-blog-content .blog-entry-content .tags-area .actress {
  background-color: #d73f91;
}
.single-blog-box-layout3 .single-blog-content .blog-entry-content .tags-area .actress a {
  color: #ffff;
  padding: 3px 5px;
}
