
// color
$main-color: #5389d6;
$sub-color: #d73f91;
$background-color: #f5f8fa;
$yellow: #ffffee;

nav.template-main-menu,
h1, h2, h3, h4, h5, h6,
body {
    // font-family: 'Roboto', sans-serif, "游ゴシック体", YuGothic;
    font-family: "游ゴシック体", YuGothic;
}

.bg--dark,
.footer-wrap-layout2,
.widget-newsletter-subscribe-dark,
.mean-container .mean-bar .mobile-menu-nav-back {
    background-color: $main-color;
}


// header home h1
.header-menu {
    .logo-area {
        a {
            h1 {
                margin: 0;
            }
        }
    }
}

// archive post img
.blog-box-layout2 .item-img a img {
    width: 100%;
}

// sidebar post img
.widget-popular .post-box .item-img a img {
    width: 100%;
}

.single-blog-box-layout3 .single-blog-content .blog-form .contact-form-box .form-group .item-btn {
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    border: 1px solid $sub-color;
    background-color: $sub-color;
    color: #ffff;

    &:hover {
            color: $sub-color;
            background-color: transparent;
            border: 1px solid $sub-color;
    }
}

.mean-container a.meanmenu-reveal span{
    background-color: #ffff;
}

// main subheadline
.inner-page-banner {
    display: block;
    padding: 6rem 0;
    background-color: #f3f3f3;
    .breadcrumbs-area h1 {
        font-size: 20px;
        margin-bottom: 0px;
        @media (min-width: 992px) {
            font-size: 32px;
            margin-bottom: 10px;
        }
    }
}

.footer-box-layout2 .copyright {
    color: #ffff;
}


// ================================================================
// contact
// ================================================================
.single-blog-box-layout3 .single-blog-content .blog-form .contact-form .form-group .item-btn {
    border: 1px solid #111111;
    background-color: #111111;
    color: #ffff;
    &:focus {
        outline: none;
    }
    &:hover {
        color: #111111;
        background-color: transparent;
        border: 1px solid #111111;
    }
}

.contact-form .invalid-message {
    color: #d64c5c;
    font-size: 14px;
}

// thanks page
.thanks-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

    &__logo {
        margin-bottom: 30px;
    }
    &__description,
    &__headline {
        text-align: center;
    }
    .item-btn {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        background-color: #111111;
        border-radius: 4px;
        padding: 14px 35px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        &:hover {
            -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
        }
    }
}


// ================================================================
// sidebar
// ================================================================
// widget popular
.widget-popular .post-box .item-title {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


// ================================================================
// single
// ================================================================
.single-blog-box-layout3 .blog-banner img {
    width: 100%;
}

.single-blog-box-layout3 {
    .single-blog-content {
        .blog-entry-content {
            .item-title {
                display:block
            }
            .tags-area {
                li {
                    margin-right: 15px;
                    margin-bottom: 10px;
                    display: inline-block;
                    position: relative;
                    @media (min-width: 992px) {
                        margin-right: 20px;
                    }
                    a{
                        font-size: 14px;
                        color: #646464;
                        display: block;
                        @media (min-width: 992px) {
                            font-size: 16px;
                        }
                    }
                }
                .actress {
                    background-color: $sub-color;
                    a {
                        color: #ffff;
                        padding: 3px 5px;
                    }
                }
            }
        }
    }
}

